Q28. Write a code to get the desired output of the following
```
string = "Big Data iNeuron"
desired_output = "iNeuron"
```

In [1]:
string = "Big Data iNeuron"
print(string[9:])

iNeuron

Q30. Resverse the string given in the above question.

In [2]:
string = "Big Data iNeuron"
str = " "
for i in string:
    str = i + str
    
print(str)

norueNi ataD giB

Q31. How can you delete entire string at once?
Ans: we can assign it a new empty value(string).

Q33. How can you print the below string?
```
'iNeuron's Big Data Course'
```

In [3]:
print(" 'iNeuron's Big Data Course")

 'iNeuron's Big Data Course

Q34. What is a list in Python?
Ans:List is one of the data type out of four datatypes to store collection of data.

Q35. How can you create a list in Python?
Ans: list can be simply created by placing the elements inside the square bracket[].

Q36. How can we access the elements in a list?
Ans We can access elements in list with the help of indexing. using [], indexing start with 0.

Q37. Write a code to access the word "iNeuron" from the given list.
```
lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]
```

In [4]:
lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]
print(lst[4][2])

iNeuron

Q38. Take a list as an input from the user and find the length of the list.

In [5]:
z = int(input("Enter the length"))
lst = []
for i in range(z):
    lst.append[i]
    
print(lst)

Enter the length3

TypeError: 'builtin_function_or_method' object is not subscriptable

Q39. Add the word "Big" in the 3rd index of the given list.
```
lst = ["Welcome", "to", "Data", "course"]
```

In [ ]:
lst = ["Welcome", "to", "Data", "course"]
print(lst)

In [ ]:
print(lst.insert(2,'Big'))
print(lst)

Q40. What is a tuple? How is it different from list?
Ans:tuple is one of the data type out of four datatypes to store collection of data. tuple are immutable(cannot change values)

Q41. How can you create a tuple in Python?
Ans: tuple are created by the help of square bracket(), can insert values simulteniouly creating tuple.

Q42. Create a tuple and try to add your name in the tuple. Are you able to do it? Support your answer with reason.
Ans: We cannot directly add our name in tuple, for that we have to typeCast our tuple in list then by the use of (append,insert) we can add values in it.

Q43. Can two tuple be appended. If yes, write a code for it. If not, why?
Ans: We cannot append directly two tuples, but but we can teporarily add it using below method.

In [ ]:
tuple1 = (1,2,3)
tuple2 = (4,5,6)

tuple2=tuple1 + tuple2
# print(tuple2)

print(tuple2)
print(tuple1)

Q44. Take a tuple as an input and print the count of elements in it.

In [ ]:
x = (1,2,3,4,5)
print(len(x))

Q45. What are sets in Python?
Ans: Set is also a datatype in python, set is collectin which is unordered, unchangable, unindexed(but we can add and remove values)

Q46. How can you create a set?
Ans: Simpli we can create set by using curly braces, but we must have to provide values, unless it would be a dictionary.

In [ ]:
set1 = {}
print(type(set1))

In [ ]:
set1 = {1,2,3,'Hello',5}
print(type(set1))

Q47. Create a set and add "iNeuron" in your set.

Q52. How is frozen set different from set?
It is immutable and it is hashable. It is also called an immutable set. Since the elements are fixed, unlike sets you can't add or remove elements from the set.

Q53. What is union() in sets? Explain via code.
Return a set that contains all items from both sets, duplicates are excluded.

In [ ]:
set1 = {1,2,3,4,5,5}
set2 = {3,4,3,1,7,8,9}
set3 = set1.union(set2)
print(set3)

In [ ]:
Q54. What is intersection() in sets? Explain via code.
Ans: Return a set that contains the items that exist in both set x, and set y:

In [ ]:
set1 = {1,2,3,4,5,5}
set2 = {3,4,3,1,7,8,9}
set3 = set1.intersection(set2)
print(set3)

Q55. What is dictionary ibn Python?
Ans: It's also a data type, in values can be stored in key:value format.
    A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

Q58. What will the output of the following?
var = {}
print(type(var))

In [ ]:
var = {}
print(type(var))

Q59. How can we add an element in a dictionary?

In [ ]:
dict1 = {}
dict1['Name'] = 'Mahesh'
dict1['Middle name'] = 'Kishor'
dict1['last name'] = 'Chillal'
print(dict1)

In [ ]:
dict1['age'] = 23
dict1['skills'] = {'python':'intermidite', 'java':'noob'}
print(dict1)

Q60. Create a dictionary and access all the values in that dictionary.

In [ ]:
print(dict1['Name'])
print(dict1['age'])
print(dict1['skills'])
print(dict1['skills']['python'])

In [ ]:
x = int(input("Enter a no:"))
fact = 1
for i in range(1,x+1):
    fact = fact*i;
print("factorial", fact)

Q77. Write a Python program to calculate the simple interest. Formula to calculate simple interest is SI = (PRT)/100

In [ ]:
def SimpleInterest (principle,rate,time):
    print("Principle anount is :",principle)
    print("Interest rate is :",rate)
    print("Period of time is:", time)
    
    SI = (principle*rate*time)/100
    return SI

print("Simple Interest is : ",SimpleInterest(65000,5,18))

In [ ]:
lst = [1,2,3,4,'hi']
print(lst)

In [ ]:
add_by_lambda = lambda s,g : s + g
a = 20
b = 23
print(add_by_lambda(a,b))

In [ ]:
#lambda fun to find out which is greater num.
which_is_greater = lambda p,m : p if (p>m) else m
print(which_is_greater(3,1))

In [7]:
def myfunc(a, b):
  return a + b

x = map(myfunc, ('apple', 'banana', 'cherry'), ('orange', 'lemon', 'pineapple'))
print(x)

<map object at 0x0000024B8AD48250>

In [8]:
lambda_try = lambda a,b : a + b
a = [1,2,3,4]
b=[5,6]
print(lambda_try(a,b))

[1, 2, 3, 4, 5, 6]

In [6]:
squre_of_list = lambda x : x*x
lst1 = [1,2,3,4,5,6,7]
lst2 = list(map(squre_of_list,lst1))
print(lst2)

[1, 4, 9, 16, 25, 36, 49]

Q79. Write a Python program to check if a number is prime or not.

In [11]:
def evenOdd(num):
    if num % 2 == 0:
        return "even"
    else:
        return "odd"
    
evenOdd(4)

'even'

Q80. Write a Python program to check Armstrong Number.

In [ ]:
def is_armstrong_number(number):
    num_str = str(number)
    num_digits = len(num_str)
    armstrong_sum = sum(int(digit) ** num_digits for digit in num_str)
    return number == armstrong_sum

try:
    num = int(input("Enter a number: "))
    if is_armstrong_number(num):
        print(f"{num} is an Armstrong number.")
    else:
        print(f"{num} is not an Armstrong number.")
except ValueError:
    print("Invalid input. Please enter a valid integer.")

Q81. Write a Python program to find the n-th Fibonacci Number.

In [14]:
def fibonacci_recursive(n):
    if n <= 0:
        return "Invalid input. n should be a positive integer."
    elif n == 1:
        return 0
    elif n == 2:
        return 1
    else:
        return fibonacci_recursive(n - 1) + fibonacci_recursive(n - 2)

n = int(input("Enter the value of n: "))
result = fibonacci_recursive(n)
print(f"The {n}-th Fibonacci number is: {result}")

Enter the value of n: 7
The 7-th Fibonacci number is: 8

Q82. Write a Python program to interchange the first and last element in a list.

In [20]:
def swapList(sl):
    n = len(sl)
    
    temp = sl[0]
    sl[0] = sl[n -1]
    sl[n -1] = temp
    
    return sl

In [21]:
sl =[1,2,3,4,5]

swapList(sl)

[5, 2, 3, 4, 1]

Q84. Write a Python program to find N largest element from a list.

In [1]:
def N_max_elements(list, N):
    result_list = []
  
    for i in range(0, N): 
        maximum = 0
          
        for j in range(len(list)):     
            if list[j] > maximum:
                maximum = list[j]
                  
        list.remove(maximum)
        result_list.append(maximum)
          
    return result_list

Q85. Write a Python program to find cumulative sum of a list.

In [3]:
def Cumulative(lists):
    cu_list = []
    length = len(lists)
    cu_list = [sum(lists[0:x:1]) for x in range(0, length+1)]
    return cu_list[1:]

In [9]:
lists = [1,2,3,4,5]
print(Cumulative(lists))

[1, 3, 6, 10, 15]

In [8]:
lists = [10, 20, 30, 40, 50]
print (Cumulative(lists))

[10, 30, 60, 100, 150]

Q86. Write a Python program to check if a string is palindrome or not.

In [ ]:
x = "malayalam"
 
w = ""
for i in x:
    w = i + w
 
if (x == w):
    print("Yes")
else:
    print("No")

Q87. Write a Python program to remove i'th element from a string.

In [ ]:
def remove_char(s, i):
    a = s[ : i]
    b = s[i + 1: ]

    return a+b

string = "Pythonisgood"
# Remove ith index element
i = 5
print(remove_char(string,i-1))

Q91. Write a Python program to merge two dictionary.

In [ ]:
print(dict_1 | dict_2)

Q92. Write a Python program to convert a list of tuples into dictionary.

In [10]:
def list_of_tuples_to_dict(list_of_tuples):
    dictionary = dict(list_of_tuples)
    return dictionary

In [11]:
input_list = [('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]

In [12]:
print(list_of_tuples_to_dict(input_list))

{'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}

Q93. Write a Python program to create a list of tuples from given list having number and its cube in each tuple.

In [13]:
def create_tuples_with_cubes(input_list):
    tuples_with_cubes = [(num, num ** 3) for num in input_list]
    return tuples_with_cubes

In [14]:
input_list = [9, 5, 6]
result_list = create_tuples_with_cubes(input_list)
print(result_list)

[(9, 729), (5, 125), (6, 216)]

Q94. Write a Python program to get all combinations of 2 tuples.

In [15]:
import itertools

def get_all_combinations(test_tuple1, test_tuple2):
    all_combinations = list(itertools.product(test_tuple1, test_tuple2))
    return all_combinations

# Given input tuples
test_tuple1 = (7, 2)
test_tuple2 = (7, 8)

# Get all combinations of the two tuples
all_combinations = get_all_combinations(test_tuple1, test_tuple2)

# Print the resulting list of tuples
print("All combinations of the two tuples:")
print(all_combinations)

All combinations of the two tuples:
[(7, 7), (7, 8), (2, 7), (2, 8)]

Q96. Write a python program to print below pattern.
* 
* * 
* * * 
* * * * 
* * * * *

In [ ]:
def print_pattern(rows):
    for i in range(1, rows + 1):
        for j in range(i):
            print("*", end=" ")
        print()

    *
   **
  ***
 ****
*****

def print_pattern(rows):
    for i in range(1, rows + 1):
        spaces = rows - i
        stars = i
        print(" " * spaces + "*" * stars)
        
    *
   **
  ***
 ****
*****

    * 
   * * 
  * * * 
 * * * * 
* * * * * 

def print_pattern(rows):
    for i in range(1, rows + 1):
        spaces = rows - i
        stars = i
        print(" " * spaces + "* " * stars)

1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5

def print_pattern(rows):
    for i in range(1, rows + 1):
        for j in range(1, i + 1):
            print(j, end=" ")
        print()

A 
B B 
C C C 
D D D D 
E E E E E 

def print_pattern(rows):
    for i in range(1, rows + 1):
        char = chr(64 + i)
        print((char + " ") * i)